.imageCarouselComponent {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &[type="inverse"] {
    --separator-line-color: var(--border-inverse);
    color: var(--text-primary-inverse);
  }

  .imageCarousel {
    display: flex;
    flex-direction: column;
    --containerHeight: 200px;
    &[type="inverse"] {
      --text-primary-default: var(--text-primary-inverse);
    }
    .carouselContainer {
      max-width: 100%;
      height: var(--containerHeight);
      overflow-x: hidden;
      .carouselTrack {
        display: flex;
        width: 100%;
        /* 고정된 너비 */
        transition: transform 0.5s ease-in-out;
        .carouselSlide {
          display: flex;
          flex: 0 0 auto;
          justify-content: center;
          width: 100%; /* 슬라이드가 부모 너비에 맞도록 설정 */
          height: var(--containerHeight);
        }
      }
    }
    .buttonContainer {
      padding: 0.5rem;
      font-size: var(--font-size-button3);
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      color: var(--text-primary-default);

      .carouselPrev,
      .carouselNext {
        cursor: pointer;
      }
    }
  }
}
