@mixin button-style($type) {
  font-size: var(--button-#{$type}-large-font-size);
  min-width: var(--button-#{$type}-large-min-width);
  height: var(--button-#{$type}-large-height);

  padding: var(--button-#{$type}-padding);
  border-radius: var(--button-#{$type}-border-radius);

  border: var(--button-#{$type}-border-default);
  background-color: var(--button-#{$type}-surface-default);
  color: var(--button-#{$type}-text-default);

  &[buttonSize="medium"] {
    font-size: var(--button-#{$type}-medium-font-size);
    min-width: var(--button-#{$type}-medium-min-width);
    height: var(--button-#{$type}-medium-height);
  }

  &:hover,
  &[isHovered="true"] {
    background-color: var(--button-#{$type}-surface-hover);
    border: var(--button-#{$type}-border-hover);
    color: var(--button-#{$type}-text-hover);
  }

  &:active,
  &[isSelected="true"] {
    background-color: var(--button-#{$type}-surface-active);
    border: var(--button-#{$type}-border-active);
    color: var(--button-#{$type}-text-active);
  }

  &:disabled {
    background-color: var(--button-#{$type}-surface-disabled);
    border: var(--button-#{$type}-border-disabled);
    color: var(--button-#{$type}-text-disabled);
  }
}

.button_component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: fit-content;
  cursor: pointer;
  border: none;
  outline: none;
  font: unset;
  transition: background-color 0.5s ease;

  word-break: break-all;

  &[disabled] {
    cursor: not-allowed;
  }
  @for $i from 1 through 5 {
    &[type="#{$i}"] {
      @include button-style(#{$i});
    }
  }
}
