/* Brand Typography*/
@media screen and (max-width: 768px) {
  @import "globalFont_mobile.module.scss";
}

@media screen and (min-width: 769px) {
  @import "globalFont_desktop.module.scss";
}

@font-face {
  font-family: "Noto Sans KR Regular";
  src: url("../font/NotoSansKR-Regular.ttf");
}

html,
body {
  font-family: "Noto Sans KR Regular";
  font-size: var(--font-size-default);
  color: var(--text-primary-default);
}
