@media (prefers-color-scheme: light) {
  :root {
    --social-icon-surface-default: var(--brand-gray-300);
    --social-icon-surface-hover: var(--brand-gray-100);
    --social-icon-surface-active: var(--brand-gray-200);
    --social-icon-surface-disabled: var(--brand-gray-100);
    --social-icon-surface-inverse: var(--brand-white-100);
  }
}
