:root {
  --button-1-large-font-size: var(--font-size-button1);
  --button-1-large-height: 40px;
  --button-1-large-min-width: 40px;

  --button-1-medium-font-size: var(--font-size-button2);
  --button-1-medium-height: 28px;
  --button-1-medium-min-width: 28px;

  --button-1-border-radius: 8px;
  --button-1-padding: 8px;

  --button-2-large-font-size: var(--font-size-button1);
  --button-2-large-height: 40px;
  --button-2-large-min-width: 40px;

  --button-2-medium-font-size: var(--font-size-button2);
  --button-2-medium-height: 28px;
  --button-2-medium-min-width: 28px;

  --button-2-border-radius: 0;
  --button-2-padding: 28px;

  --button-3-large-font-size: var(--font-size-button1);
  --button-3-large-height: 40px;
  --button-3-large-min-width: 40px;

  --button-3-medium-font-size: var(--font-size-button2);
  --button-3-medium-height: 28px;
  --button-3-medium-min-width: 28px;

  --button-3-border-radius: 8px;
  --button-3-padding: 8px;

  --button-4-large-font-size: var(--font-size-button1);
  --button-4-large-height: 80px;
  --button-4-large-min-width: 80px;

  --button-4-medium-font-size: var(--font-size-button2);
  --button-4-medium-height: 55px;
  --button-4-medium-min-width: 55px;

  --button-4-border-radius: 0px;
  --button-4-padding: 8px;

  --button-5-large-font-size: var(--font-size-button1);
  --button-5-large-height: 80px;
  --button-5-large-min-width: 80px;

  --button-5-medium-font-size: var(--font-size-button2);
  --button-5-medium-height: 55px;
  --button-5-medium-min-width: 55px;

  --button-5-border-radius: 0px;
  --button-5-padding: 8px;
}
@media (prefers-color-scheme: light) {
  @import "globalButton_light_mode.module.scss";
}

@media (prefers-color-scheme: dark) {
  @import "globalButton_dark_mode.module.scss";
}
