@import "src/styles/globalCss.module.scss";
.html {
  .body {
    background: transparent;
    overflow-y: hidden;
    display: grid;
    place-items: center; /* 그리드 항목들을 수직 및 수평 가운데로 정렬합니다. */
    grid-template-rows: max-content auto max-content;
    grid-template-columns: 1fr;

    min-height: 100vh;

    --background-image: "";
    background-repeat: no-repeat;
    background-image: var(--background-image);
    background-size: cover;

    .header,
    .main,
    .footer {
      width: 100%;
      max-width: inherit;
      max-width: 1280px;
      // box-shadow: inset 0px 0px 1px 0px black;
      // border: 1px solid black;
    }

    header {
      padding: 1rem 0;
    }
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > * {
        padding: 3rem 0;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: #{$breakpoint_md}) {
      .main {
        padding: 40px 0;
      }
    }
  }
}
